/* ACCORDION */
body.course-2 .accordion .accordion-header {
  margin-bottom: 0px;
}

body.course-2 .accordion .accordion-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px; /* adjust horizontal position */
  width: 20px; /* icon width */
  height: 20px; /* icon height */
  transform: translateY(-50%);
  background: var(--eh-text-color);
  -webkit-mask: var(--eh-accordion-open);
  mask: var(--eh-accordion-open);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all 0.3s ease;
}

body.course-2 .accordion .accordion-button:not(.collapsed)::after {
  background: #ffffff; /* different color if open */
  -webkit-mask: var(--eh-accordion-close);
  mask: var(--eh-accordion-close);
}

body.course-2 .accordion .accordion-button {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid var(--eh-gray-100);
  width: 100%;
  position: relative;
  text-align: left;
}

body.course-2 .accordion .accordion-button {
  background-color: #ffffff;
  color: var(--eh-text-color);
}

body.course-2 .accordion .accordion-button:not(.collapsed) {
  background-color: var(--eh-primary-color);
  color: #ffffff;
}

body.course-2 .accordion .accordion-button a {
  color: var(--eh-text-color);
  text-decoration: none;
}

body.course-2 .accordion .accordion-button:not(.collapsed) a {
  color: #ffffff;
  text-decoration: none;
}

body.course-2 .accordion .accordion-body {
  color: var(--eh-text-color);
  padding: 50px 30px;
  border: 1px solid var(--eh-gray-100);
}

body.course-2 .accordion .accordion-body ul {
  list-style: disc;
}
