/* ANIMATION */
@keyframes elementor-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* PULSE */
.animation-pulse:hover,
.elementor-animation-pulse:hover,
.animation-pulse-infinite {
  animation-name: elementor-pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
