/* SECTIONS */
body.course-2 .course-intro {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

body.course-2 section {
  margin-bottom: 35px;
}

/* TEXTS */
body.course-2 h2,
body.course-2 h6 {
  font-weight: 700;
  font-size: 28px;
  color: var(--eh-primary-color);
  margin: 0px 0 14px 0;
  line-height: 1.2;
}
body.course-2 h6 {
  font-size: 17px;
  color: var(--eh-primary-color);
}

body.course-2 p {
  color: #535353;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  margin: 0px 0 24px 0;
}

body.course-2 h3 {
  color: #535353;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0px;
}

/* ALIGNMENTS */
body.course-2 .align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
