/* SECTIONS */
body.course-2 .course-intro {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

body.course-2 section {
  margin-bottom: 35px;
}

/* TEXTS */
body.course-2 h2,
body.course-2 h6 {
  font-weight: 700;
  font-size: 28px;
  color: var(--eh-primary-color);
  margin: 0px 0 14px 0;
  line-height: 1.2;
}
body.course-2 h6 {
  font-size: 17px;
  color: var(--eh-primary-color);
}

body.course-2 p {
  color: var(--eh-text-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  margin: 0px 0 24px 0;
}

body.course-2 h4 {
  color: var(--eh-text-color);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.6;
  margin: 0px 0 16px 0;
}

body.course-2 h3 {
  color: var(--eh-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0px;
}

/* ALIGNMENTS */
body.course-2 .align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEIGHTS */
body.course-2 .h-490 {
  height: 490px;
}

body.course-2 .h-368 {
  min-height: 368px;
  height: 368px;
}

body.course-2 .h-363 {
  min-height: 363px;
  height: 363px;
}

body.course-2 .h-325 {
  min-height: 325.688px;
  height: 325.688px;
}

body.course-2 .h-455 {
  min-height: 455px;
  height: 455px;
}

@media (max-width: 1280px) {
  body.course-2 .h-455 {
    min-height: 363px;
    height: 363px;
  }
}

@media (max-width: 1024px) {
  body.course-2 .h-455 {
    min-height: 318.609px;
    height: 318.609px;
  }
}
@media (max-width: 760px) {
  body.course-2 .h-455 {
    min-height: 366px;
    height: 366px;
  }
}

body.course-2 .h-464 {
  min-height: 464px;
  height: 464px;
}

@media (max-width: 1280px) {
  body.course-2 .h-464 {
    min-height: 370px;
    height: 370px;
  }
}

@media (max-width: 1024px) {
  body.course-2 .h-464 {
    min-height: 254px;
    height: 254px;
    padding: 15px !important;
  }
}

@media (max-width: 760px) {
  body.course-2 .h-464 {
    min-height: 315px;
    height: 315px;
    padding: 30px !important;
  }
}

body.course-2 .h-515 {
  min-height: 515px;
  height: 515px;
}

@media (max-width: 1280px) {
  body.course-2 .h-515 {
    min-height: 410px;
    height: 410px;
  }
}

@media (max-width: 1024px) {
  body.course-2 .h-515 {
    min-height: 282px;
    height: 282px;
  }
}

@media (max-width: 760px) {
  body.course-2 .h-515 {
    min-height: 414px;
    height: 414px;
  }
}

body.course-2 .h-507 {
  min-height: 507px;
  height: 507px;
}

@media (max-width: 1280px) {
  body.course-2 .h-507 {
    min-height: 404px;
    height: 404px;
  }
}

@media (max-width: 1024px) {
  body.course-2 .h-507 {
    min-height: 278px;
    height: 278px;
  }
}

@media (max-width: 760px) {
  body.course-2 .h-507 {
    min-height: 407px;
    height: 407px;
  }
}

body.course-2 .h-484 {
  min-height: 484px;
  height: 484px;
}

@media (max-width: 1280px) {
  body.course-2 .h-484 {
    min-height: 385.6px;
    height: 385.6px;
  }
}

@media (max-width: 760px) {
  body.course-2 .h-484 {
    min-height: 372px;
    height: 372px;
  }
}

body.course-2 .h-328 {
  min-height: 328.109px;
  height: 328.109px;
}

body.course-2 .h-345 {
  min-height: 345.75px;
  height: 345.75px;
}

body.course-2 .h-330 {
  min-height: 330px;
  height: 330px;
}

body.course-2 .p-58 {
  padding: 58px;
}

body.course-2 .py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

body.course-2 .px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

body.course-2 .p-15 {
  padding: 15px;
}

body.course-2 .p-30 {
  padding: 30px !important;
}

body.course-2 .p-20 {
  padding: 20px !important;
}
