.breadcrumb {
  align-items: center;
  background-color: var(--eh-gray-50) !important;
  border-radius: 6px !important;
  padding: 0.5em 1em !important;
}

.breadcrumb-item a,
.breadcrumb-item span {
  text-decoration: none;
  font-weight: 700;
  color: var(--eh-secondary-color);

  display: inline-block;
  max-width: 50ch; /* ≈ 50 characters */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

@media screen and (max-width: 640px) {
  .breadcrumb-item a,
  .breadcrumb-item span {
    max-width: 30ch; /* ≈ 30 characters */
  }
}
