/* CARDS */
body.course-2 .hover-card {
  position: relative;
  cursor: pointer;
}

body.course-2 .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Change to your brand color */
  opacity: 0;
  color: var(--eh-text-color);
  transition: opacity 0.3s ease-in-out;
}

body.course-2 .hover-overlay button {
  padding: 13px 76px;
  background-color: #1198de;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.04px;
  color: #ffffff;
  border-radius: 58px;
}

body.course-2 .hover-card:hover .hover-overlay {
  opacity: 1;
}

body.course-2 .hover-front {
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.course-2 .shadow-cards {
  padding: 38px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.12);
}

body.course-2 .shadow-cards img.svg,
body.course-2 .shadow-cards svg {
  color: var(--eh-primary-color) !important;
  fill: var(--eh-primary-color) !important;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

body.course-2 .shadow-cards p {
  line-height: 1.2;
}

body.course-2 .shadow-cards h3 {
  line-height: 1.5;
  margin-bottom: 10px;
  min-height: 60px;
}
