/* CAROUSEL */
body.course-2 .carousel-pointers {
  background: #2675bc;
  color: #ffffff !important;
  border-radius: 20px;
  width: 86%;
  margin-left: 7%;
}

body.course-2 .carousel-pointers p,
body.course-2 .carousel-pointers h3,
body.course-2 .carousel-pointers h2 {
  color: #ffffff !important;
  line-height: 1.2;
}
body.course-2 .carousel-pointers h2 {
  font-size: 28px;
  font-weight: 700;
}

body.course-2 .carousel-pointers p {
  font-size: 17px;
  font-weight: 400;
}
body.course-2 .carousel-pointers p.lead {
  width: 50%;
  min-height: 85px;
}

body.course-2 .carousel-pointers .card-body p {
  color: var(--eh-text-color) !important;
}

body.course-2 .carousel-pointers .card-body {
  background: transparent;
  position: absolute;
  width: 241px;
  height: auto;
}

body.course-2 .carousel-pointers .carousel-item {
  background: linear-gradient(
    86deg,
    rgba(32, 113, 193, 0.9) 46.85%,
    rgba(0, 0, 0, 0.2) 123.66%
  );
  border-radius: 20px;
  position: relative;
}
body.course-2 .carousel-pointers .carousel-item::before {
  background-size: cover;
  background-position: center;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1 !important; /* transparency level */
}

body.course-2 .carousel-pointers .carousel-item:nth-child(1):before {
  background-image: url(https://eh-lms-assets.s3.ap-southeast-2.amazonaws.com/img/vbhc_101/module-2/M2L2-score.png);
}

body.course-2 .carousel-pointers .carousel-item:nth-child(2):before {
  background-image: url(https://eh-lms-assets.s3.ap-southeast-2.amazonaws.com/img/vbhc_101/module-2/M2L2-map.png);
}

body.course-2 .carousel-pointers .carousel-item:nth-child(3):before {
  background-image: url(https://eh-lms-assets.s3.ap-southeast-2.amazonaws.com/img/vbhc_101/module-2/M2L2-map.png);
}

body.course-2 .carousel-pointers .card-body:nth-child(3) {
  right: -10%;
  top: 30%;
}

body.course-2 .carousel-pointers .card-body:nth-child(4) {
  right: 0%;
  top: 85%;
}

body.course-2 .carousel-pointers .card-body:nth-child(5) {
  right: -20%;
  top: 60%;
}

body.course-2 .carousel-pointers .card-body .btn-pointer {
  position: absolute;
  left: -10px;
  top: -10px;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
body.course-2 .carousel-pointers .card-body .btn-point {
  position: absolute;
  color: #424242;
  padding: 30px 23px;
  width: 290px;
  height: auto;
  background: #ebebeb;
  display: none;
  opacity: 0;
  border-radius: 10px;
  transition: 1s all;
  z-index: 50;
  left: -60%;
  top: -50%;
  transform: translateX(-60%) translateY(-50%);
}

body.course-2 .carousel-pointers .card-body .btn-pointer:hover + .btn-point {
  display: block;
  opacity: 1;
}

body.course-2 .carousel-pointers .carousel-control-prev,
body.course-2 .carousel-pointers .carousel-control-next {
  font-size: 22px;
  height: 50px;
  width: 50px;
  right: auto;
  left: -52px;
  color: #ffffff;
  background-color: var(--eh-secondary-color);
  border-radius: 50% 50% 50% 50%;
  top: 50%;
  transform: translateY(-50%);
}

body.course-2 .carousel-pointers .carousel-control-next {
  left: auto;
  right: -52px;
}

/* NAVIGATION BUTTONS */

.carousel-control-prev .visually-hidden,
.carousel-control-next .visually-hidden {
  color: transparent; /* hide original text */
  position: relative;
}

.carousel-control-prev .visually-hidden::after {
  content: "\f053"; /* Font Awesome chevron-left */
  font-family: "Font Awesome 6 Free";
  font-weight: 900; /* required for solid icons */
  font-size: 2rem; /* arrow color */
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-next .visually-hidden::after {
  content: "\f054"; /* chevron-right */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
