/* Container size */
body.course-2 .flip-card {
  width: 100%;
  height: 265px;
  perspective: 1000px; /* Creates 3D effect */
}
body.course-2 .flip-card.tall {
  width: 100%;
  height: 350px;
  perspective: 1000px; /* Creates 3D effect */
}

/* Inner wrapper */
body.course-2 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Flip on hover */
body.course-2 .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Shared styles for sides */
body.course-2 .flip-card-front,
body.course-2 .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides backside when not facing viewer */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  background: #fff;
  padding: 11px;
  box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.12);
}

/* Front appearance */
body.course-2 .flip-card-front {
  background: #fff;
  color: #333;
}

body.course-2 .flip-card-front img.svg,
body.course-2 .flip-card-front svg {
  color: var(--eh-primary-color) !important;
  fill: var(--eh-primary-color) !important;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

body.course-2 .flip-card-front h3 {
  color: #535353;
  font-size: 20px;
  font-weight: 500;
}

/* Back appearance */
body.course-2 .flip-card-back {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--eh-primary-color) 0%,
    #34baff 100%
  );
  color: #fff;
  transform: rotateY(180deg);
}
body.course-2 .flip-card-back p {
  color: #fff;
}
