/* MODALS */
body.course-2 .group_links {
  font-size: 11px;
  text-transform: capitalize;
  width: 20%;
  float: left;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  min-height: 59px;
}

body.course-2 .bar,
body.course-2 .bar-50,
body.course-2 .bar-100 {
  width: 100%;
  background: #5b6b7c;
  height: 8px;
  border-radius: 43px;
  position: relative;
}

body.course-2 .bar-100::before {
  width: 100%;
}

body.course-2 .bar-50::before,
.bar-100::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 8px;
  border-radius: 43px;
  background: #99ca3c;
}
body.course-2 .bar-100::before {
  width: 100%;
}

body.course-2 .modal button.pum-close {
  background-color: #000 !important;
  border-radius: 50% !important;
  border: 2px solid #ffffff !important;
  --bs-btn-close-color: #ffffff !important;
  color: #ffffff !important;
  padding: 1px 8px;
  width: 30px;
}

body.course-2 .modal-fullscreen button.pum-close {
  position: absolute;
  top: 10px;
  z-index: 10;
  right: 10px;
}

/* VIDEO MODALS */
@media (min-width: 768px) {
  .modal-xl {
    max-width: 700px !important;
  }
}

body.course-2 .modal-video .modal-content {
  background-color: var(--eh-gray-400) !important;
  color: white;
}

body.course-2 .modal-video p,
body.course-2 .modal-video h4 {
  color: white;
  text-align: left !important;
}
body.course-2 .modal-video .modal-content .col-md-4 {
  background-color: var(--eh-gray-500) !important;
}

body.course-2 .modal-video .modal-content .col-md-8 .ratio {
  margin-bottom: 30px;
}
body.course-2 .modal-video .modal-content .col-md-8 iframe {
  border-radius: 20px;
}

body.course-2 .modal-video .modal-content .col-md-4 .video-item {
  background-color: var(--eh-gray-500) !important;
  border: none !important;
  width: 104%;
}

body.course-2 .modal-video .modal-content .col-md-4 .video-item:hover {
  background-color: var(--eh-gray-400) !important;
}

body.course-2 .modal-video .modal-content .col-md-4 .video-item img {
  border-radius: 20px;
  width: 100%;
  height: 70px;
}

body.course-2 .modal-video .modal-content .col-md-4 .video-item .img-wrap {
  border-radius: 20px;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

body.course-2 .modal-video .modal-content .col-md-4 .video-item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* key */
  object-position: center;
  display: block;
}

/* VIDEO MODALS */

body.course-2 .img-zoom {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

body.course-2 .img-zoom img {
  width: 100%;
  height: auto;
  object-fit: cover; /* key */
  object-position: center;
  display: block;
}

body.course-2 .img-zoom::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  transition: opacity 0.3s ease;
  opacity: 0; /* start hidden */
  z-index: 1;
}
body.course-2 .img-zoom::after {
  content: "\f31e"; /* Font Awesome icon */
  position: absolute;
  top: 50%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* center exactly */
  font-family: "Font Awesome 6 Free";
  font-weight: 900; /* make sure bold icon is used */
  font-size: 25px; /* size of icon */
  color: white;

  z-index: 2;
  opacity: 0; /* start hidden */
  transition: opacity 0.3s ease;
}

/* Hover trigger */
body.course-2 .img-zoom:hover::before,
body.course-2 .img-zoom:hover::after {
  opacity: 1;
}

body.course-2 .img-zoom:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

body.course-2 #modal-gallery .gallery-img,
body.course-2 #modal-gallery2 .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* key: no stretch */
  display: block;
}

body.course-2 #modal-gallery .carousel-item,
body.course-2 #modal-gallery2 .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
