/* ACTIVITY */
.section .activity {
  display: none;
}

.mod-quiz-edit-content .section .activity {
  display: block;
}
#module-36 {
  display: block !important;
}

/* QUIZ */
.que .formulation {
  background-color: var(--eh-primary-light);
  font-family: "Roboto", sans-serif;
}

.que.correct .content .outcome {
  border: none;
  background-color: #ccedd9;
  color: #00c349;
}

.que.incorrect .content .outcome {
  border: none;
  background-color: #ebc3c3;
  color: #f11414;
}

.answercontainer {
  padding: 20px;
  border: 1px solid var(--eh-gray-400);
  border-radius: 10px;
  position: relative;
}

.answercontainer::before {
  content: "Instructions: Click and drag each element into the boxes of your corresponding answer above.";
  font-weight: bold;
}

span.drop {
  position: relative;
  border: 2px solid #000;
  min-width: 342px; /* Adjust this number based on your placeholder length */
}

span.drop::before {
  content: "Drag elements from the box below into this space";
  color: var(--eh-gray-150);
  position: absolute;
  left: 5px;
}

.answercontainer .draggrouphomes1 {
  margin-top: 15px;
}
.que.ddwtos .group1 {
  line-height: 1.2 !important;
}

.que.ddwtos .draghome.unplaced {
  border: 1px dashed #000;
}

.page-header-image,
.page-header-headings .text-muted {
  display: none;
}

/* QUIZ */
@media (max-width: 576px) {
  .jsenabled #page-footer .footer-content-popover .footer-section:last-child {
    display: none;
  }
}
