/* TIMELINE */
body.course-2 .timeline-steps,
body.course-2 .timeline-hover {
  position: relative;
}

@media screen and (min-width: 768px) {
  body.course-2 .timeline-steps::before {
    content: "";
    position: absolute;
    width: 4px;
    top: 85px;
    height: calc(100% - 205px);
    left: 136px;
    background: var(--eh-gray-200);
  }
}

@media screen and (min-width: 1024px) {
  body.course-2 .timeline-steps::before {
    left: 138px;
  }
}

@media screen and (min-width: 1280px) {
  body.course-2 .timeline-steps::before {
    left: 182px;
  }
}

@media screen and (min-width: 1440px) {
  body.course-2 .timeline-steps::before {
    left: 213px;
  }
}

@media screen and (min-width: 1920px) {
  body.course-2 .timeline-steps::before {
    left: 226px;
  }
}

/* STEPS */
body.course-2 .timeline-steps .col-md-2 {
  background-color: var(--eh-primary-color);
  padding: 13px 31px;
  border-radius: 30px;
}

body.course-2 .timeline-steps .col-md-2 p {
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 0px;
  text-align: center;
}

body.course-2 .timeline-steps .col-md-7 {
  border-radius: 20px;
  padding: 15px 35px;
}
body.course-2 .timeline-steps .col-md-7:hover {
  background-color: var(--eh-gray-100);
}

body.course-2 .timeline-steps .col-md-1 .elementor-icon {
  text-align: center;
  height: 40px;
  border-radius: 50%;
}

body.course-2 .timeline-steps .col-md-1 i {
  color: white;
  font-size: 27px;
  background: var(--eh-primary-color);
  border-radius: 50%;
  padding: 6px;
}

/* HOVER */
@media screen and (min-width: 768px) {
  body.course-2 .timeline-hover::before {
    top: 40px;
    left: 136px;
    height: calc(100% - 50px);
    content: "";
    position: absolute;
    width: 4px;
    background: var(--eh-gray-200);
  }
}

@media screen and (min-width: 1280px) {
  body.course-2 .timeline-hover::before {
    left: 182px;
  }
}

@media screen and (min-width: 1440px) {
  body.course-2 .timeline-hover::before {
    left: 213px;
  }
}

@media screen and (min-width: 1920px) {
  body.course-2 .timeline-hover::before {
    left: 226px;
  }
}

body.course-2 .timeline-hover .col-md-2 {
  color: var(--eh-primary-color);
}

body.course-2 .timeline-hover .col-md-1 {
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

body.course-2 .timeline-hover .col-md-1 i {
  color: white;
  font-size: 18px;
  background-color: var(--eh-primary-color);
  padding: 10px;
  border-radius: 50%;
}

body.course-2 .timeline-hover .col-md-5 {
  padding: 13px 20px;
  border-radius: 20px;
}

body.course-2 .timeline-hover .row:hover .col-md-5 {
  background-color: var(--eh-gray-100);
}

body.course-2 .timeline-hover .row .col-md-4 {
  position: relative;
  padding: 0;
}

body.course-2 .timeline-hover .col-md-4 p {
  position: absolute;
  padding: 25px;
  background: var(--eh-primary-light);
  visibility: hidden;
  margin: 0px;
  top: -35px;
  border-radius: 20px;
}

body.course-2 .timeline-hover .row:hover .col-md-4 p {
  visibility: visible;
}

@media screen and (max-width: 767px) {
  body.course-2 .timeline-hover .col-md-2 {
    margin-top: 20px;
    text-align: center !important;
  }

  body.course-2 .timeline-hover .col-md-1 {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  body.course-2 .timeline-hover .row .col-md-5 {
    background-color: var(--eh-gray-100);
    margin-bottom: 15px;
  }

  body.course-2 .timeline-hover .col-md-4 p {
    position: relative;
    padding: 25px;
    background: var(--eh-primary-light);
    visibility: visible;
    margin: 0px;
    top: auto;
    border-radius: 20px;
  }

  body.course-2 .timeline-steps .col-md-1 .elementor-icon {
    margin-top: 20px;
  }
}
body.course-2 .timeline-hover .row:last-child .col-md-4 p,
body.course-2 .timeline-hover .row:nth-last-child(2) .col-md-4 p {
  bottom: -35px;
  top: auto;
}

@media screen and (max-width: 640px) {
  body.course-2 .timeline-hover .row:last-child .col-md-4 p,
  body.course-2 .timeline-hover .row:nth-last-child(2) .col-md-4 p {
    bottom: auto;
  }
}
