/* TOOLTIP */
body.course-2 .tool-tip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 6px 10px;
  background-color: var(--eh-gray-100);
  border-radius: 35px;
  margin-bottom: 35px;
}

body.course-2 .tool-tip.applied {
  padding: 2px 10px;
  margin-bottom: 16px;
}

body.course-2 .tool-tip p,
body.course-2 .tool-tip a {
  color: var(--eh-primary-color);
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}

body.course-2 .tooltip-text {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  width: 250px; /* optional */
  background: var(--eh-gray-transparent);
  color: #fff;
  text-align: left;
  padding: 25px;
  border-radius: 10px;

  position: absolute;
  top: 50px; /* distance from the .tool-tip */
  left: 110%; /* center horizontally relative to parent */
  transform: translateX(-50%);
  z-index: 20;

  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Arrow pointing to the .tool-tip */
body.course-2 .tooltip-text::before {
  content: "";
  position: absolute;
  top: -20px; /* position above the tooltip */
  left: 20%;
  transform: translateX(-50%);
  border-width: 10px; /* size of the arrow */
  border-style: solid;
  border-color: transparent transparent var(--eh-gray-transparent) transparent; /* arrow color matches tooltip background */
}

body.course-2 .tool-tip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
