body.course-2 .video-wrapper {
  margin-bottom: 40px;
}

body.course-2 .video-wrapper iframe {
  height: 640px !important;
}

@media (max-width: 1440px) {
  body.course-2 .video-wrapper iframe {
    height: 443px !important;
  }
}

@media (max-width: 1280px) {
  body.course-2 .video-wrapper iframe {
    height: 360px !important;
  }
}

@media (max-width: 1024px) {
  .walkthrough-iframe {
    height: 310px;
  }
}

@media (max-width: 728px) {
  body.course-2 .video-wrapper iframe {
    height: 240px !important;
  }
}

@media (max-width: 640px) {
  .walkthrough-iframe {
    height: 170px;
  }
}
