body.course-2 .video-wrapper {
  margin-bottom: 40px;
}

body.course-2 .video-wrapper iframe {
  height: 640px !important;
}

@media (max-width: 1440px) {
  body.course-2 .video-wrapper iframe {
    max-width: 443px !important;
  }
}

@media (max-width: 1280px) {
  body.course-2 .video-wrapper iframe {
    max-width: 360px !important;
  }
}

@media (max-width: 728px) {
  body.course-2 .video-wrapper iframe {
    max-width: 240px !important;
  }
}
