@import url("components/base.css");
@import url("components/video.css");
@import url("components/slider.css");
@import url("components/overview.css");
@import url("components/flipcards.css");
@import url("components/tooltip.css");
@import url("components/background.css");
@import url("components/images.css");

@import url("components/overview.css");

:root {
  --eh-primary-color: #1198de;
}
